__pycache__/
*.py[cod]
*$py.class

env/
venv/
ENV/
env.bak/
venv.bak/

build/
dist/
*.egg-info/

pip-log.txt
pip-delete-this-directory.txt

*.manifest
*.spec

*.egg
*.whl

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/

.idea/

.vscode/

.DS_Store

*.log

*.pkl
simulation_state.pkl

*.log

*.so

.ipynb_checkpoints

*.sublime-workspace